.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #4A8149;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.info {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 20px;
}

.info p a {
    color: white;
}

.copyright {
    font-size: 13px;
    font-weight: 400;
    padding: 8px;
}