
.carrossel-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 1.5em;
    color: black;
    text-align: left;
    width: 180px;
    height: 260px;
}

.carrossel-item__link{
    color: inherit;  
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 130px;
    height: 200px;
}

.carrossel-item__img {
    width: 130px;
    height: 130px;
    object-fit: cover;
  }
  

.carrossel-item:hover{
    border: solid #FFA133;
    border-width: 2px;
}

.carrossel-item p {
    margin: 0px;
}

.carrossel-item button {
    margin-top: 5px;
    padding: 7px 5px;
    color: white;
    border-radius: 15px;
    border: none;
    background-color: #4A8149;
}