.warning{
    position: fixed;
    bottom: 10%;
    background-color: red;
    color: white;
    z-index: 9999;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    right: 5%;
}