.cart{
    margin-top: 77px;
    height: 100%;
    position: fixed;
    width: 35%;
    z-index: 1;
    top: 0;
    right: 0;
    border-left: solid #CACACA 2px;
    background-color: #F5F5F5;
    overflow-x: hidden;
}

.cart_box{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CACACA;
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 0px;
    display: block;
}
.cart table{
    width: 100%;
    border-collapse: collapse;
}

.cart_box td{
    width: 35%;
}

.cart_box img{
    width: 100px;
    height: 100px;
}

.cart_item_info{
    text-align: left;
    padding-left: 5px;
}

.cart_item_info h3{
    color: #4A8149;
}

.cart table tr{
    height: 110px;
    text-align: center;
}

.quantityInputCart{
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: solid #CACACA 1px;
    border-radius: 10px;
    color: #CACACA;
}

.quantityInputCart input{
    width: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    border: none;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

#quantityCart{
    color: #7A7A7A;
    font-size: 24px;
    border-right: 1px solid #CACACA;
    border-left: 1px solid #CACACA;
}

.cartPrice{
    color: #4A8149;
    font-size: 20px;
    font-weight: 600;
    margin-left: 32px;
}

.cartFP{
    margin: 15px;
    margin-left: 70px;
    margin-bottom: 20px;
}

.cart_total_price{
    font-size: 20px;
}

.cart_total_price_container{
    padding: 20px;
    background-color: white;
    height: 140px;
    width: 100%;
    border-top: solid 1px #CACACA;
    position: fixed;
    bottom: 0;
}

.cart_end_purchase{
    margin-top: 16px;
    border: none;
    border-radius: 10px;
    background-color: #FFA133;
    height: 40px;
    width: 170px;
}

.flush_cart_button{
    height: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: #F5F5F5;
}

.close_cart_button{
    border: none;
    border-radius: 8px;
    background-color: white;
    font-size: 15px;
    margin-left: 5px;
}

.close_cart_container{
    position: fixed;
    display: flex;
    align-content: center;
    height: 30px;
    width: 100%;
    background-color: white;
    border-bottom: solid 1px #CACACA;
}

.cart_top_margin{
    height: 40px;
    width: 100%;
    background-color: #F5F5F5;
    color: #F5F5F5;
}

.cart_bottom_margin{
    height: 210px;
    width: 100%;
    background-color: #F5F5F5;
    color: #F5F5F5;
}

.exclude_cart_item_button{
    border: none;
    border-radius: 8px;
    background-color: #F5F5F5;
    font-size: 15px;
    float: right;
    color: red;
}

/* #addToCart{
    color: #334932;
    font-size: 15px;
    background-color: #B2CB81;
    border: solid #9EB473 1px;
    height: 40px;
    width: 200px;
    border-radius: 12px;
} */