.secoes-do-site{
    display: flex;
    justify-content: center;
    background-color: #EEEEEE;
}

.secao{
    margin: 5vh 3vw;
    text-align: center;
}

.secao-icon:hover{
    border: solid #9EB473;
    border-width: 1px;
}

.secao p {
    margin-top: 5px;
}

.secao a {
    text-decoration: none;
    font-weight: bold;
    color: #4A8149;

}

.secao-icon {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px 0px;
    width: 120px;
    height: 80px;
    box-shadow:  20px 20px 60px #c7c7c7,
                -20px -20px 60px #ffffff;
}

.secao-icon img {
    width: 90px;
    height: 90px;
}