:root {
    --slider_width: 350px;
    --slider_height: 15px;
}

.background_product{
    background-color: white; 
    height: 550px;
    width: 1000px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 55px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgb(146, 146, 146);
    position: relative;
}

.product_image_container img{
    height: 370px;
    width: 370px;
    border: solid #CACACA 1px;
    border-radius: 10px;
}

.background_product table{  
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
}

.background_product td{
    width: 50%;
    /* padding: 8px;  */
    /* border: 1px solid black; */
}

.product_image_container{
    text-align: right;
    padding-right: 30px;
}

.product_data_container{
    padding-left: 30px;
}

.quantityInput{
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: solid #CACACA 1px;
    border-radius: 12px;
    color: #CACACA;
}

.quantityInput input{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    border: none;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}

#quantity{
    color: #7A7A7A;
    font-size: 29px;
    border-right: 1px solid #CACACA;
    border-left: 1px solid #CACACA;
}

#addToCart{
    color: #334932;
    font-size: 15px;
    background-color: #B2CB81;
    border: solid #9EB473 1px;
    height: 40px;
    width: 200px;
    border-radius: 12px;
}

.stock_quantity{
    background-color: #B2CB81;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 20px;
}